.navigation {
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    @include mobile {
        display: none;
    }

    @include tablet-p {
        display: none;
    }
    @include tablet-l {
        display: none;
    }

    .point {
        width: 12px;
        height: 12px;
        border: 2px solid $black;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 8px 0;
        transition: .2s;
        cursor: pointer;

        &:hover,
        &.active {
            background: $black;
        }

    }

}